version: "3.9"

services:
  ollama_gpu0:
    image: ollama/ollama:0.3.13
    container_name: ollama_gpu0
    ports:
      - "11436:11434"
    volumes:
      - ollama_gpu0_data:/root/.ollama
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - OLLAMA_LLM_LIBRARY=cuda_v12
      - OLLAMA_GPU_LAYERS=18
      - OLLAMA_FLASH_ATTENTION=false
      - OLLAMA_KEEP_ALIVE=10m
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_DEBUG=INFO

  ollama_gpu1:
    image: ollama/ollama
    container_name: ollama_gpu1
    ports:
      - "11435:11434"
    volumes:
      - ollama_gpu1_data:/root/.ollama
    restart: always
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=1
      - OLLAMA_KEEP_ALIVE=-1
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_NUM_PARALLEL=4

  fastapi_app:
    build: ./fastapi_app
    container_name: fastapi_gateway
    ports:
      - "8010:8000"
    volumes:
      - api_db_data:/app/database
    restart: always
    depends_on:
      - ollama_gpu0
      - ollama_gpu1
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=0

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always

volumes:
  ollama_gpu0_data:
  ollama_gpu1_data:
  api_db_data:
